body{
    font-size: 2em;
    font-family: cursive;
    background-color: rgb(84, 84, 109);
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     margin: 0px;
    
}
#brand_name{
    font-family: Georgia;
}

#nav{
    display: flex;
    justify-content: center;
    gap: 3em;
}
.opts{
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-family: Geneva;
    transition: 0.3s;
}
.opts:hover{
    color: rgb(254, 255, 255);
    transform: scale(1.3);
    text-decoration: rgb(84, 84, 109);
    font-weight: bold;
}
header{
    background-color: rgb(68, 77, 91);
    width: 100%;
    height: 50px;
}

#div1{
    margin-top: 4em;
    font-size: 2em;
    font-family:monospace;
    color: azure;
    
}

#div2{
    font-size: 20px;
 align-self: flex-start;
 margin-left: 150px;
 color: aliceblue;
 font-family: Tahoma;
 margin-bottom: 5px;
 margin-top: 5px;
}

#text_div{
    align-self: flex-start;
    margin-left: 150px;
    margin-bottom: 100px;
  
}

#text{
    height: 25px;
    width: 300px;
    border-radius: 5px;
}
.mybb{
    height: 45px;
    width: 90px;
    border-radius: 5px;
    background-color: rgb(145, 208, 7);
    color: white;
    transition: 0.3s;
}
.mybb:hover{
    transform: scale(1.1);
font-size:15px;
font-weight: bold;
}

footer{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

#br{
    font-size: 20px;
    align-self: flex-start;
    margin-left: 150px;
    color: aliceblue;
    font-family: Tahoma;
    margin-bottom: 5px;
    margin-top: 5px;
}
#add{
    color: rgba(81, 81, 138, 0.979);
font-size: 25px;
}

#foot_nav{
    display: flex;
    gap: 150px;
    margin-top: 100px;
    transform: translateX(50px);
   
}


#pic1{
    border: 0px solid;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background-image: url(rocket_icon.png);
    background-repeat: no-repeat;
   font-family: Cochin;
   font-size: 20px;
   align-items: center;
   text-align: center;
   color: rgb(84, 84, 109);
   background-color: rgb(220, 246, 255);
    transition: 0.3s;
    transform: translateX();
    background-position: center 30px;
}
#pic1:hover{
    scale: 1.3;
}
#com1{
    transform: translateX(350px);
    font-family: monospace ;
    margin-top: 30px;
    height: fit-content;
    width: fit-content;
    background-color: black;
   
   color: rgb(84, 84, 109);
}

#pic2{
    
        border: 0px solid;
        height: 200px;
    width: 200px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-self: flex-start;
        background-image: url(globe_icon.png);
        background-repeat: no-repeat;
        background-position: center 30px;
        font-family: Cochin;
        font-size: 20px;
        position: relative;
       color: rgb(84, 84, 129);
       background-color: rgb(220, 246, 255);
        transition: 0.3s;
    }
    #pic2:hover{
        scale: 1.3
    }
#pic3{
    border: 0px solid;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(clipboard_icon.png);
    background-repeat: no-repeat;
     background-position: center 30px;
    font-family: Cochin;
   position: relative;
    color: rgb(84, 84, 129);
background-color: rgb(220, 246, 255);
transition: 0.3s;
font-size: 20px;
text-align: center;
}
#pic3:hover{
    scale: 1.3
} 