body{
    font-size: 2em;
    
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     margin: 0px;
    
}
#brand_name{
    font-family: Georgia;
}

#nav{
    display: flex;
    justify-content: center;
    gap: 3em;
}
.opts{
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-family: Geneva;
    transition: 0.3s;

}
.opts:hover{
    color: rgb(254, 255, 255);
    transform: scale(1.3);
    text-decoration: underline rgb(167, 167, 169);
    font-weight: bold;
}
.mybb:hover{
    transform: scale(1.1);
font-size:15px;
font-weight: bold;
}
#title{
    color: rgb(84, 84, 129);
    transform: translateX(200px);
}
header{
    background-color: rgb(68, 77, 91);
    width: 100%;
    height: 50px;
}
.mybb{
    height: 45px;
    width: 90px;
    border-radius: 5px;
    background-color: rgb(145, 208, 7);
    color: white;
    transition: 0.3s;
}


#sub_title{
    align-self: flex-start;
    font-size: 15px;
    color:  rgb(118, 118, 159);
    margin-top: -10px;
    margin-left: 100px;
    transform: translateX(200px);
}
#parent_div{
display: flex;
gap: 50px;
transform: translateX(40px);

}
.div{
    border: 0px solid;
    height: 250px;
    width:200px ;
    display: flex;
   justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
    border-radius: 20px; 
    transition: 0.3s;
    box-shadow: 5px 5px 17px rgb(131, 128, 128);
}
.div:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 9px rgb(131, 128, 128);
}

.topic{
    display: flex;
    align-content: center;
    gap: 20px;
    font-weight: bold;
margin-top: 100px;
}
.content{
margin-top: 0px;
}

#vd_b{
    margin-top: 25px;
}
#vd_bb{
    height: 35px;
    width: 100px;
    box-shadow:  5px 5px 10px rgb(131, 128, 128);
    transition: 0.4s;
    
}
#vd_bb:hover{
    transform: scale(1.1);
    font-size: 20px;
    height:50px ;
}

#test_div{
    background-image: url(rocketry_icon.png);
    background-repeat: no-repeat;
    background-position:  top ;
    background-size: 100px;
}


#analytics_div{
    background-image: url(analytics_icon.png);
    background-repeat: no-repeat;
    background-position:  top ;
    background-size: 100px;
}


#person_div{
    background-image: url(icons8-personalization-100.png);
    background-repeat: no-repeat;
    background-position:  top ;
    background-size: 100px;
}

#ff_div{
    background-image: url(flag_icon.png);
    background-repeat: no-repeat;
    background-position:  top ;
    background-size: 100px;
}

#cus_div{
    background-image: url(icons8-love-100.png);
    background-repeat: no-repeat;
    background-position:  top ;
    background-size: 100px; 
}
